dify/workflows/diabetes_risk_prediction_workflow.yml
app:
  description: 糖尿病风险预测工作流，用于糖尿病预治智能助手模块4。根据健康档案和最新健康数据输出结构化风险评估 JSON。
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: diabetes_risk_prediction_workflow
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/deepseek:0.0.17@f7a5c1d222d17ee419b17a80d6e4923838fe93788dc724a3af73fbc6990b3a32
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: knowledge-retrieval
      id: 1782306851024-source-1782306900001-target
      source: '1782306851024'
      sourceHandle: source
      target: '1782306900001'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1782306900001-source-1782306862312-target
      source: '1782306900001'
      sourceHandle: source
      target: '1782306862312'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1782306862312-source-1782307540255-target
      source: '1782306862312'
      sourceHandle: source
      target: '1782307540255'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - default: ''
          hint: ''
          label: 用户ID
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: user_id
        - default: ''
          hint: ''
          label: age
          options: []
          placeholder: ''
          required: false
          type: number
          variable: age
        - default: ''
          hint: ''
          label: gender
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: gender
        - default: ''
          hint: ''
          label: height_cm
          options: []
          placeholder: ''
          required: false
          type: number
          variable: height_cm
        - default: ''
          hint: ''
          label: weight_kg
          options: []
          placeholder: ''
          required: false
          type: number
          variable: weight_kg
        - default: ''
          hint: ''
          label: bmi
          options: []
          placeholder: ''
          required: false
          type: number
          variable: bmi
        - default: ''
          hint: ''
          label: waist_cm
          options: []
          placeholder: ''
          required: false
          type: number
          variable: waist_cm
        - default: ''
          hint: ''
          label: systolic_bp
          options: []
          placeholder: ''
          required: false
          type: number
          variable: systolic_bp
        - default: ''
          hint: ''
          label: diastolic_bp
          options: []
          placeholder: ''
          required: false
          type: number
          variable: diastolic_bp
        - default: ''
          hint: ''
          label: fasting_glucose
          options: []
          placeholder: ''
          required: false
          type: number
          variable: fasting_glucose
        - default: ''
          hint: ''
          label: postprandial_glucose
          options: []
          placeholder: ''
          required: false
          type: number
          variable: postprandial_glucose
        - default: ''
          hint: ''
          label: hba1c
          options: []
          placeholder: ''
          required: false
          type: number
          variable: hba1c
        - default: ''
          hint: ''
          label: family_history
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: family_history
        - default: ''
          hint: ''
          label: chronic_history
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: chronic_history
        - default: ''
          hint: ''
          label: diet_status
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: diet_status
        - default: ''
          hint: ''
          label: exercise status
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: exercise_status
        - default: ''
          hint: ''
          label: profile_summary
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: profile_summary
        - default: ''
          hint: ''
          label: latest_metric
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: latest_metric
        - default: ''
          hint: 后端汇总后的完整真实健康数据，优先参考此字段，避免把模板变量误认为未填写
          label: health_context
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: health_context
      height: 550
      id: '1782306851024'
      position:
        x: 81
        y: 280
      positionAbsolute:
        x: 81
        y: 280
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids: []
        desc: 从糖尿病知识库检索与当前指标相关的筛查标准、风险因素和干预建议。导入后请在 Dify 中绑定 diabetes_knowledge_base。
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: reranking_model
          reranking_model:
            model: ''
            provider: ''
          score_threshold: null
          top_k: 4
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: ''
              embedding_provider_name: ''
              vector_weight: 0.7
        query_variable_selector:
        - '1782306851024'
        - health_context
        retrieval_mode: single
        selected: false
        title: 知识检索
        type: knowledge-retrieval
      height: 90
      id: '1782306900001'
      position:
        x: 230
        y: 280
      positionAbsolute:
        x: 230
        y: 280
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-v4-flash
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 4e99c9c5-c7ec-4cf5-b57d-5c240804fa00
          role: system
          text: '你是糖尿病预防领域的健康顾问，不是执业医生。

            禁止输出“确诊糖尿病”等绝对诊断，使用“风险倾向”“建议复查”等表述。

            对严重异常指标要提醒尽快线下就医。

            禁止输出 <think>、推理过程、分析草稿或任何 JSON 之外的文本。最终回答必须只包含一个 JSON 对象。'
        - id: 2219f1c1-9e0b-4616-9816-cd59c87d772f
          role: user
          text: "请根据以下健康数据评估糖尿病风险：\n\n用户ID：{{#1782306851024.user_id#}}\n年龄：{{#1782306851024.age#}}，性别：{{#1782306851024.gender#}}\n身高：{{#1782306851024.height_cm#}}cm，体重：{{#1782306851024.weight_kg#}}kg，BMI：{{#1782306851024.bmi#}}\n\
            腰围：{{#1782306851024.waist_cm#}}cm\n血压：{{#1782306851024.systolic_bp#}}/{{#1782306851024.diastolic_bp#}} mmHg\n空腹血糖：{{#1782306851024.fasting_glucose#}}\
            \ mmol/L，餐后血糖：{{#1782306851024.postprandial_glucose#}} mmol/L\n糖化血红蛋白：{{#1782306851024.hba1c#}}%\n家族病史：{{#1782306851024.family_history#}}\n\
            慢病史：{{#1782306851024.chronic_history#}}\n饮食：{{#1782306851024.diet_status#}}，运动：{{#1782306851024.exercise_status#}}\n档案摘要：{{#1782306851024.profile_summary#}}\n最新指标摘要：{{#1782306851024.latest_metric#}}\n完整健康数据汇总：{{#1782306851024.health_context#}}\n\n\
            以下是从糖尿病知识库向量检索得到的参考内容，请优先依据这些内容进行风险解释，不要编造医学标准：\n{{#1782306900001.result#}}\n\n\
            输出要求必须遵守：\n1. 只返回一个 JSON 对象，不要输出解释、标题、Markdown、代码块或任何 JSON 之外的文本。\n2. 所有字段都必须存在，字符串字段不能为空；无法确认时写“需结合线下复查确认”。\n3. risk_level 只能是 low、medium、high；risk_score 必须是 0 到 100 的整数。\n4. main_risk_factors 必须是字符串数组，至少 2 项。\n5. reference_sources 必须是字符串数组，列出你实际参考的知识要点标题（2-4 条）。\n6. 不要使用“确诊”，只能使用“风险倾向”“建议复查”等表述。\n\nJSON 字段如下：\n{\n  \"risk_level\": \"low/medium/high\"\
            ,\n  \"risk_score\": 0-100,\n  \"diabetes_type_tendency\": \"类型倾向描述\"\
            ,\n  \"main_risk_factors\": [\"因素1\", \"因素2\"],\n  \"indicator_analysis\"\
            : \"指标分析\",\n  \"health_advice\": \"健康建议\",\n  \"medical_warning\": \"\
            就医提醒\",\n  \"summary\": \"一句话总结\",\n  \"reference_sources\": [\"参考依据1\", \"参考依据2\"]\n}"
        selected: false
        structured_output_enabled: false
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1782306862312'
      position:
        x: 520
        y: 280
      positionAbsolute:
        x: 520
        y: 280
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        outputs:
        - value_selector:
          - '1782306862312'
          - text
          value_type: string
          variable: risk_result
        selected: false
        title: 输出
        type: end
      height: 87
      id: '1782307540255'
      position:
        x: 810
        y: 312
      positionAbsolute:
        x: 810
        y: 312
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: -39.5
      y: -137
      zoom: 1
  rag_pipeline_variables: []
