dify/workflows/exports/diabetes_risk_prediction_workflow.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: diabetes_risk_prediction_workflow
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/deepseek:0.0.17@f7a5c1d222d17ee419b17a80d6e4923838fe93788dc724a3af73fbc6990b3a32
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 1782306851024-source-1782306862312-target
      source: '1782306851024'
      sourceHandle: source
      target: '1782306862312'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1782306862312-source-1782307540255-target
      source: '1782306862312'
      sourceHandle: source
      target: '1782307540255'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - default: ''
          hint: ''
          label: 用户ID
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: user_id
        - default: ''
          hint: ''
          label: age
          options: []
          placeholder: ''
          required: true
          type: number
          variable: age
        - default: ''
          hint: ''
          label: gender
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: gender
        - default: ''
          hint: ''
          label: height_cm
          options: []
          placeholder: ''
          required: true
          type: number
          variable: height_cm
        - default: ''
          hint: ''
          label: weight_kg
          options: []
          placeholder: ''
          required: true
          type: number
          variable: weight_kg
        - default: ''
          hint: ''
          label: bmi
          options: []
          placeholder: ''
          required: false
          type: number
          variable: bmi
        - default: ''
          hint: ''
          label: waist_cm
          options: []
          placeholder: ''
          required: true
          type: number
          variable: waist_cm
        - default: ''
          hint: ''
          label: systolic_bp
          options: []
          placeholder: ''
          required: true
          type: number
          variable: systolic_bp
        - default: ''
          hint: ''
          label: diastolic_bp
          options: []
          placeholder: ''
          required: true
          type: number
          variable: diastolic_bp
        - default: ''
          hint: ''
          label: fasting_glucose
          options: []
          placeholder: ''
          required: true
          type: number
          variable: fasting_glucose
        - default: ''
          hint: ''
          label: postprandial_glucose
          options: []
          placeholder: ''
          required: true
          type: number
          variable: postprandial_glucose
        - default: ''
          hint: ''
          label: hba1c
          options: []
          placeholder: ''
          required: false
          type: number
          variable: hba1c
        - default: ''
          hint: ''
          label: family_history
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: family_history
        - default: ''
          hint: ''
          label: chronic_history
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: chronic_history
        - default: ''
          hint: ''
          label: diet_status
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: diet_status
        - default: ''
          hint: ''
          label: exercise status
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: exercise_status
        - default: ''
          hint: ''
          label: profile_summary
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: profile_summary
        - default: ''
          hint: ''
          label: latest_metric
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: latest_metric
      height: 550
      id: '1782306851024'
      position:
        x: 81
        y: 280
      positionAbsolute:
        x: 81
        y: 280
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-v4-flash
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 4e99c9c5-c7ec-4cf5-b57d-5c240804fa00
          role: system
          text: '你是糖尿病预防领域的健康顾问，不是执业医生。

            禁止输出“确诊糖尿病”等绝对诊断，使用“风险倾向”“建议复查”等表述。

            对严重异常指标要提醒尽快线下就医。'
        - id: 2219f1c1-9e0b-4616-9816-cd59c87d772f
          role: user
          text: "请根据以下健康数据评估糖尿病风险：\n\n年龄：{{age}}，性别：{{gender}}\n身高：{{height_cm}}cm，体重：{{weight_kg}}kg，BMI：{{bmi}}\n\
            腰围：{{waist_cm}}cm\n血压：{{systolic_bp}}/{{diastolic_bp}} mmHg\n空腹血糖：{{fasting_glucose}}\
            \ mmol/L，餐后血糖：{{postprandial_glucose}} mmol/L\n糖化血红蛋白：{{hba1c}}%\n家族病史：{{family_history}}\n\
            慢病史：{{chronic_history}}\n饮食：{{diet_status}}，运动：{{exercise_status}}\n\n\
            请严格输出 JSON，不要 markdown 代码块，字段如下：\n{\n  \"risk_level\": \"low/medium/high\"\
            ,\n  \"risk_score\": 0-100,\n  \"diabetes_type_tendency\": \"类型倾向描述\"\
            ,\n  \"main_risk_factors\": [\"因素1\", \"因素2\"],\n  \"indicator_analysis\"\
            : \"指标分析\",\n  \"health_advice\": \"健康建议\",\n  \"medical_warning\": \"\
            就医提醒\",\n  \"summary\": \"一句话总结\"\n}"
        selected: false
        structured_output_enabled: false
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1782306862312'
      position:
        x: 382
        y: 280
      positionAbsolute:
        x: 382
        y: 280
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        outputs:
        - value_selector:
          - '1782306862312'
          - text
          value_type: string
          variable: text
        selected: false
        title: 输出
        type: end
      height: 87
      id: '1782307540255'
      position:
        x: 659
        y: 312
      positionAbsolute:
        x: 659
        y: 312
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: -39.5
      y: -137
      zoom: 1
  rag_pipeline_variables: []
